In [1]:
import pandas as pd 
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
df=pd.read_csv('/content/gdrive/MyDrive/Dataset/shop data.csv')

In [4]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [7]:
df['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [8]:
income_order = ['low','medium','high']

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
enco= OrdinalEncoder(categories=[income_order])

In [14]:
enco.fit(df[['income']])

OrdinalEncoder(categories=[['low', 'medium', 'high']])

In [17]:
final=pd.DataFrame(enco.transform(df[['income']]))

In [16]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [18]:
df['income']= final

In [19]:
df

      age  income  gender m_status buys
0     <25     2.0    male   single   no
1     <25     2.0    male  married   no
2   25-35     2.0    male   single  yes
3     >35     1.0    male   single  yes
4     >35     0.0  female   single  yes
5     >35     0.0  female   single   no
6   25-35     0.0  female  married  yes
7     <25     1.0    male  married   no
8     <25     0.0  female   single  yes
9     >35     1.0  female  married  yes
10    <25     1.0  female   single  yes
11  25-35     1.0    male  married  yes
12  25-35     2.0  female   single  yes
13    >35     1.0    male  married   no
14    <25     2.0    male   single   no

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le=LabelEncoder()

In [22]:
df['age']=le.fit_transform(df['age'])

In [23]:
df

    age  income  gender m_status buys
0     1     2.0    male   single   no
1     1     2.0    male  married   no
2     0     2.0    male   single  yes
3     2     1.0    male   single  yes
4     2     0.0  female   single  yes
5     2     0.0  female   single   no
6     0     0.0  female  married  yes
7     1     1.0    male  married   no
8     1     0.0  female   single  yes
9     2     1.0  female  married  yes
10    1     1.0  female   single  yes
11    0     1.0    male  married  yes
12    0     2.0  female   single  yes
13    2     1.0    male  married   no
14    1     2.0    male   single   no

In [25]:
dummy_variables = pd.get_dummies(df['gender'],drop_first=True)
dummy_variables.head()

   male
0     1
1     1
2     1
3     1
4     0

In [26]:
new_df=df.drop('gender',axis=1)
new_df.head()

   age  income m_status buys
0    1     2.0   single   no
1    1     2.0  married   no
2    0     2.0   single  yes
3    2     1.0   single  yes
4    2     0.0   single  yes

In [27]:
df=pd.concat([new_df,dummy_variables],axis=1)
df.head()

   age  income m_status buys  male
0    1     2.0   single   no     1
1    1     2.0  married   no     1
2    0     2.0   single  yes     1
3    2     1.0   single  yes     1
4    2     0.0   single  yes     0

In [30]:
df['m_status']=le.fit_transform(df['m_status'])

In [31]:
df

    age  income  m_status buys  male
0     1     2.0         1   no     1
1     0     2.0         0   no     1
2     1     2.0         1  yes     1
3     1     1.0         1  yes     1
4     1     0.0         1  yes     0
5     1     0.0         1   no     0
6     0     0.0         0  yes     0
7     0     1.0         0   no     1
8     1     0.0         1  yes     0
9     0     1.0         0  yes     0
10    1     1.0         1  yes     0
11    0     1.0         0  yes     1
12    1     2.0         1  yes     0
13    0     1.0         0   no     1
14    1     2.0         1   no     1